.card {
  min-height: min-content;
  max-height: fit-content;
  padding: 1em;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  justify-content: space-between;
  transition: 0.3s;
}

.cardImage {
  height: 12em;
  overflow: hidden;
  border-radius: 0.5em;
  transition: 0.3s ease;
}

.cardImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardTitle {
  color: #222;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.priceTag {
  color: #444;
  font-weight: 600;
}

.priceTag p:nth-child(1) {
  margin-bottom: 0.5em;
}

.priceTag span {
  color: var(--brandColor);
}

.cardDesc {
  color: #555;
  font-size: 0.9em;
  line-height: 1.5em;
}

.btns {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1em;
}

.alt {
  position: relative;
  margin-bottom: 2em;
}

.cardCtaAlt {
  padding: 1em 4em;
  background-color: #aaa;
  width: 5em;
  border-radius: 0.4em;
  position: absolute;
  right: 0;
}

.pricesAlt {
  background-color: #aaa;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 10em;
  border-radius: 1em;
}

.imgAlt {
  background-color: #aaa;
  border-radius: 0.5em;
  height: 12em;
  position: relative;
  overflow: hidden;
}

.imgAlt::before {
  content: "";
  background-color: #fff;
  filter: blur(50px);
  width: 20em;
  height: 2em;
  position: absolute;
  top: 50%;
  rotate: -45deg;
  animation: shine 1.5s infinite ;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (width >= 992px) {
  .card {
    width: 25em;
  }
}
