.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 12%;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #ddd;
  color: #fff;
  background: rgba(0, 0, 0, 0.834);
  backdrop-filter: blur(5.9px);
  gap: 1em;
  -webkit-backdrop-filter: blur(5.9px); 
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo span {
  font-weight: 600;
}

.logo svg {
  height: 1em;
}

.home {
  display: none;
}

.links {
  display: flex;
  align-items: center;
}

.links p {
  color: #eee;
}

.status {
  text-wrap: nowrap;
}

@media screen and (width <= 590px) {
  .main {
    flex-wrap: wrap;
  }
  .logo span {
    display: none;
  }
  .links p {
    display: none;
  }
}
