.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 12%;
  padding-top: 5.5em;
  position: relative;
  background-color: #111;
}

.logo {
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.2em;
}

.logo:hover {
  color: var(--darkerBrandColor);
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #ccc;
  width: 60%;
}

.link {
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: #8c8c8c;
}

/* .contactBtn {
  font-size: 1em;
  padding: 0.2em 1.5em;
  background-color: var(--brandColor);
  text-transform: capitalize;
  border-radius: 2em;
} */

.menuIcon {
  position: relative;
  z-index: 5;
}

.menuIcon svg {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.sidebar {
  width: 100%;
  height: 100vh;
  background: #010101;
  position: fixed;
  right: 0;
  z-index: 1000;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4em;
  list-style: none;
  margin-bottom: 4em;
  padding: 2em;
  position: relative;
}

.sidebar ul li {
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li a{
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

.close svg{
  font-size: 2em;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contactInfo p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #fff;
}

.contactInfo svg {
  font-size: 1.5em;
  display: none;
}

@media screen and (width <= 280px) {
  .logo,
  .logo svg {
    font-size: 0.8em;
  }
}

@media screen and (width <= 500px) {
  .navbar {
    padding-top: 7em;
    gap: 1em;
  }
  .logo,
  .logo svg {
    font-size: 1em;
  }
  .menuIcon svg {
    font-size: 1.2em;
  }
}

@media screen and (width > 1023px) {
  .menuIcon {
    display: none;
  }
}

@media screen and (width <= 1023px) {
  .navlinks {
    display: none;
  }
}
