.main {
  height: 100%;
  text-align: center;
  margin: 3em 12%;
  margin-top: 6em;
  display: flex;
  gap: 2em;
}

.main .left {
  margin: 1em 0;
  flex-basis: 50%;
  text-align: left;
  position: relative;
}

.main .right {
  flex: 50%;
  height: 35em;
  overflow: hidden;
  border-radius: 0.5em;
}

.main .right img {
  border-radius: 0.5em;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.smText {
  color: #333;
}

.lgText {
  color: #333;
  margin-top: 1em;
}

.desc {
  color: #555;
  margin-top: 4em;
  line-height: 2em;
}

.cta {
  color: var(--brandColor);
  margin-top: 4em;
  background-color: transparent;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.5em 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
}

.cta svg {
  transition: 0.3s;
}

.cta:hover svg {
  transform: translateX(1em);
}

@media screen and (width <= 992px) {
  .main {
    flex-direction: column-reverse;
  }
}
