.main {
  height: 100%;
  margin-top: 3em;
  padding: 6em 0;
  background-color: var(--darkestColor);
  border-bottom: 1px solid #444;
}

.titleBar {
  text-align: center;
  margin-bottom: 3em;
  padding: 0 2em;
}

.titleBar h1 {
  margin-bottom: 10px;
  color: #fff;
}

.titleBar p {
  color: #aaa;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.innerCarousel {
  padding: 1em 12% 2em 12%;
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 2em;
  scroll-behavior: smooth;
}

.innerCarousel::-webkit-scrollbar {
  height: 10px;
}

.innerCarousel::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 0 8em;
}

.innerCarousel::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.item {
  width: 20rem;
  height: 30rem;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 0.5em;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.comment {
  color: #666;
  padding: 2em 1.5em;
  padding-bottom: 4em;
  position: relative;
  z-index: 1;
}

.wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding: 3.5em 0 1.5em 0;
  color: #fff;
  background-color: #111;
}

.quoteIcon {
  position: absolute;
  right: 2em;
  top: 50%;
}

.quoteIcon svg {
  color: #eee;
  font-size: 4em;
}

@media screen and (width <= 360px) {
  .item {
    width: 16em;
  }
}
