.main {
  padding: 8em 12%;
  background-color: var(--darkestColor);
}

.titleBar {
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}

.titleBar h2:first-child {
  font-weight: 800;
  letter-spacing: 1px;
  font-weight: 800;
}

.titleBar h2:last-child {
  font-weight: 500;
  letter-spacing: 3px;
}

.desc {
  color: #aaa;
  text-align: center;
  margin-bottom: 6em;
}

.columns {
  display: flex;
}

.leftCol {
  display: flex;
  justify-content: center;
  flex-basis: 40%;
  height: 32em;
}

.leftCol .image {
  border-radius: 5px;
  overflow: hidden;
  width: 35em;
}

@media screen and (width <= 1200px) {
  .leftCol .image {
    width: 25em;
  }
}

@media screen and (width <= 992px) {
  .columns {
    flex-direction: column;
    gap: 2em;
  }
}

.leftCol img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.rightCol {
  flex-basis: 60%;
  padding: 0 2em;
  margin: auto 0;
}

.rightCol .contact {
  position: relative;
  text-align: left;
}

.rightCol h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}

.rightCol label {
  color: #eee;
}

.rightCol input,
.rightCol textarea {
  width: 100%;
  padding: 0.3em;
  border: 1px solid #444;
  background-color: #111;
  caret-color: #fff;
  font-size: 1.1em;
  color: #fff;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  resize: none;
  border-radius: 2px;
  font-family: sans-serif;
}

.rightCol textarea {
  height: 5em;
}

.rightCol .submit {
  background-color: var(--brandColor);
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
