.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.container {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.img {
  height: 7em;
  border-radius: 7px;
  width: fit-content;
  overflow: hidden;
  display: flex;
  width: 12em;
  justify-content: center;
}

.img img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.postTitle {
  color: #222;
  font-weight: 600;
}

.price {
  font-weight: 500;
  color: var(--brandColor);
}

.price span {
  color: #777;
}

.tools {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #999;
}

.tools * {
  font-size: 1.7em;
  cursor: pointer;
  transition: 0.1s;
}

.tools *:hover {
  color: #bbb;
}

@media screen and (width <= 620px) {
  .main {
    flex-direction: column;
    text-align: center;
  }
  .main:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  .container {
    flex-direction: column;
  }
  .container .img {
    width: 100%;
  }
  .tools {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
